<div class="activity-item clearfix">
  <div {{action 'showDetails' activity}} class='col-sm-12'> {{activity.name}} </div>

{{#if isShowingDetails}}
    <p class='text-muted'>
      <em>{{activity.name2}}</em>
    </p>
    <address>
      {{activity.street}}
      <br> {{activity.city}}, {{activity.country}}
    </address>
    <dl>
      <dt>Cost</dt>
      <dd> {{activity.cost}} </dd>
      <dt>Notes</dt>
      <dd> {{activity.notes}} </dd>
    </dl>
{{/if}}
</div>
{{yield}}
