<div {{action 'showDetails' activity}} {{bind-attr class='isShowingDetails:active :activity-item :clearfix'}}>
  <div class='item-name'> {{activity.name}} </div>

  {{#if isShowingDetails}}
    <div class='details'>
      <p class='text-muted'>
        <em>{{activity.name2}}</em>
      </p>
      <address>
        {{activity.street}}
        <br> {{activity.city}}, {{activity.country}}
      </address>

      <ul class='list-unstyled'>
        {{#if activity.cost}}
          <li>Cost: {{activity.cost}} </li>
        {{/if}}
        {{#if activity.website}}
          <li>Website: {{activity.website}} </li>
        {{/if}}
      </ul>

      <dl>
        <dt>Notes</dt>
        <dd> {{activity.notes}} </dd>
      </dl>
    </div>
  {{/if}}
</div>
{{yield}}
