<h3>{{model.name}}</h3>
<p class="text-lead">{{model.desc}}</p>

<div class='row row-space-top-3 row-space-6'>
  <div class='col-md-6'>
    <h4>Activities</h4>
    {{#each activity in activityList}}
      {{list-details item=activity action='showMarker' param=activity}}
    {{else}}
      No plans yet.
    {{/each}}

    <h4>Breweries &amp; Restaurants</h4>
    {{#each resto in restaurantList}}
      {{list-details item=resto action='showMarker' param=restaurant}}
    {{else}}
      No plans yet.
    {{/each}}

    <h4>Lodging</h4>
    {{#each lodging in lodgingList}}
      {{list-details item=lodging action='showMarker' param=lodging}}
    {{else}}
      No plans yet.
    {{/each}}
  </div>

  {{view 'large-map' class='map-big col-md-6' places=places selectedMarker='highlightedMarker'}}
</div>
