<h3>Add a Place</h3>

<form {{action "createPlace" on="submit"}}>
  <div>
    <label>
      Name
      <br> {{input type="text" value=name}}
    </label>
  </div>
  <div>
    <label>
      Address
      <br> {{input type="text" value=address}}
    </label>
  </div>
  <div>
    <label>
      Region
      <br> {{view 'select' content=regions value=selectedRegion}}
    </label>
  </div>
  <div>
    <label>
      Notes
    </label>
    {{textarea rows=5 value=notes}}
  </div>
  <button>Save</button>
</form>


{{yield}}
