<div {{bind-attr class='isShowingDetails:active :list-item :clearfix'}}>
  <div class='item-name' {{action 'showDetails' item}}> {{item.name}} </div>

  {{#if isShowingDetails}}
    <div class='details'>
      <p class='text-muted'>
        <em>{{item.name2}}</em>
      </p>

      <strong>Address:</strong>
      <address>
        {{#if item.address}} {{item.address}} {{/if}}
      </address>

      <ul class='list-unstyled'>
        {{#if item.cost}}
          <li>Cost: {{item.cost}} </li>
        {{/if}}
        {{#if item.website}}
          <li>Website: <a {{bind-attr href='item.website'}} target='_blank'>{{item.website}}</a> </li>
        {{/if}}
      </ul>

      {{#if item.notes}}
      <dl>
        <dt>Notes: </dt>
        <dd><em> {{item.notes}} </em></dd>
      </dl>
      {{/if}}
    </div>
  {{/if}}
</div>
{{yield}}
